.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


#beatbox-button {
	float: right;
	display: inline-block;
	width: 128px;
	height: 127px;
	background: url(../YouTube_Play.png) transparent no-repeat 0px 0px;
}

#beatbox-button:hover {
	opacity: 0.9;
	cursor: pointer;
}

#beatbox-button.pause {
	background-position: -128px 0px;
}

#beatbox-text {
	width: 490px;
	min-width: 490px;
	max-width: 490px;
	min-height: 128px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}




